[submodule "packs/dev/power-pack/vendor/submodules/multiple-cursors"]
        path = packs/dev/power-pack/vendor/submodules/multiple-cursors
        url = git://github.com/magnars/multiple-cursors.el.git
[submodule "packs/dev/power-pack/vendor/submodules/emacs-git-gutter"]
	path = packs/dev/power-pack/vendor/submodules/emacs-git-gutter
	url = git://github.com/syohex/emacs-git-gutter.git
[submodule "packs/dev/lang-pack/vendor/submodules/glsl-mode"]
	path = packs/dev/lang-pack/vendor/submodules/glsl-mode
	url = git://github.com/jimhourihan/glsl-mode.git
[submodule "packs/dev/org-pack/vendor/submodules/org-mode"]
	path = packs/dev/org-pack/vendor/submodules/org-mode
	url = git://orgmode.org/org-mode.git
[submodule "packs/dev/git-pack/vendor/submodules/git-modes"]
	path = packs/dev/git-pack/vendor/submodules/git-modes
	url = git://github.com/magit/git-modes.git
[submodule "packs/dev/foundation-pack/vendor/submodules/dash"]
	path = packs/dev/foundation-pack/vendor/submodules/dash
	url = git://github.com/magnars/dash.el.git
[submodule "packs/dev/foundation-pack/vendor/submodules/pkg-info"]
	path = packs/dev/foundation-pack/vendor/submodules/pkg-info
	url = git://github.com/lunaryorn/pkg-info.el.git
[submodule "packs/dev/foundation-pack/vendor/submodules/s"]
	path = packs/dev/foundation-pack/vendor/submodules/s
	url = git://github.com/magnars/s.el.git
[submodule "packs/dev/foundation-pack/vendor/submodules/flx"]
	path = packs/dev/foundation-pack/vendor/submodules/flx
	url = git://github.com/lewang/flx.git
[submodule "packs/dev/power-pack/vendor/submodules/floobits"]
	path = packs/dev/power-pack/vendor/submodules/floobits
	url = git://github.com/Floobits/floobits-emacs.git
[submodule "packs/dev/power-pack/vendor/submodules/wc-mode"]
	path = packs/dev/power-pack/vendor/submodules/wc-mode
	url = git://github.com/bnbeckwith/wc-mode.git
[submodule "packs/dev/lang-pack/vendor/submodules/haskell"]
	path = packs/dev/lang-pack/vendor/submodules/haskell
	url = git://github.com/haskell/haskell-mode.git
[submodule "packs/dev/clojure-pack/vendor/submodules/cider"]
	path = packs/dev/clojure-pack/vendor/submodules/cider
	url = git://github.com/clojure-emacs/cider.git
[submodule "packs/dev/clojure-pack/vendor/submodules/eval-sexp-fu"]
	path = packs/dev/clojure-pack/vendor/submodules/eval-sexp-fu
	url = git://github.com/hchbaw/eval-sexp-fu.el.git
[submodule "packs/dev/clojure-pack/vendor/submodules/clj-refactor"]
	path = packs/dev/clojure-pack/vendor/submodules/clj-refactor
	url = git://github.com/magnars/clj-refactor.el.git
[submodule "packs/dev/foundation-pack/vendor/submodules/epl"]
        path = packs/dev/foundation-pack/vendor/submodules/epl
        url = git://github.com/cask/epl.git
[submodule "packs/dev/foundation-pack/vendor/submodules/find-file-in-project"]
	path = packs/dev/foundation-pack/vendor/submodules/find-file-in-project
	url = https://github.com/technomancy/find-file-in-project
